.container {
    background-color: lightpink;
    justify-content: center;
    margin-bottom: 2rem;
}

.card>h4 {
    padding: 1rem;
}

.card>h6 {
    padding-bottom: 1rem;
}

.card>img{
    border-radius: 5px;
}

.card{
    padding: 0.5rem;
    margin: 0.75rem;
}
